apidoc/*
**.git
**.gitignore
**.gitattributes
**.sass-cache
**/.DS_Store
**/git
**.md
.idea
.editorconfig
.dockerignore
Dockerfile
task-definition*.json
pre-commit
package-lock.json
composer.lock
.buildpath
raspberry/*
node_modules/*
**.po~
app/webroot/uploads/*
vendor/*