apidoc/*
**.git
**.gitignore
**.gitattributes
**.sass-cache
**/.DS_Store
**/git
**.md
.idea
.editorconfig
.dockerignore
Dockerfile
docker-compose.yml
task-definition*.json
pre-commit
.buildpath
node_modules/*
**.po~